<html>

<body>
  <h1>Welcome To Franc Twitter
  </h1>

  <div class="container">
    <h2>Please Login</h2>
    <br>
    <form action="" method="post">
      <input type="text" placeholder="Franc" name="username" value="{{
            request.form.username }}">
      <input type="password" placeholder="Franc" name="password" value="{{
            request.form.password }}">
      <input class="btn btn-default" type="submit" value="Login">
      <p>or register <a href="/register">here</a></p>
    </form>
    {% if error %}
    <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
  </div>
</body>

</html>