<html>

<body>
  <h1>Welcome To Franc Twitter
  </h1>

  <div class="container">
    <h2>Register New User</h2>
    <br>
    <form action="" method="post">
      <input type="text" placeholder="Franc" name="newuser" value="{{
            request.form.username }}">
      <input class="btn btn-default" type="submit" value="Register">
    </form>
    {% if error %}
    <p class="error"><strong>Error:</strong> {{ error }}
      {% endif %}
  </div>
</body>

</html>