<html>

<body>
  <h1>{{ user_data.username }}</h1>
  {% if not user_data.number_posts %}
  <h4>{{ user_data.username }} does not have any posts af of yet.</h4>
  {% else %}
  {% for post in user_data.posts %}
  <p>Post: {{ post.status }}</p>
  <p>Time of post: {{ post.time }}</p>
  <hr style="width:50%;text-align:left;margin-left:0">
  {% endfor %}
  {% endif %}
</body>

</html>